body{
 font-family:"Roboto",sans-serif;  
}
.section-1,.footer{
    background-color:#1F2937 ;
}
.section-3{
    background-color:#E5E7EB ;
}
.Maintext{
    color: #f9faf8;
    font-size:48px;;
    font-weight:bolder;

}
.right,.container-1 .text {
    color:#E5E7EB;
    font-size:18px;

}
.left{
    color:#F9FAF8;
    font-size:24px;
}
ul{
    list-style-type:"none";
}
