body{
    display:flex;
    flex-direction: column;
 font-family:"Roboto",sans-serif;  
}
.section-1,.footer{
    background-color:#1F2937 ;
}
.section-3{
    background-color:#E5E7EB ;
}
.Maintext{
    color: #f9faf8;
    font-size:48px;;
    font-weight:bolder;

}
.right,.container-1 .text {
    color:#E5E7EB;
    font-size:18px;

}
.left{
    color:#F9FAF8;
    font-size:24px;
}
ul{
    display:flex;
    gap:20px;
    margin:0;
    padding:0;
    list-style-type:none;
}
.part-1{
    
    display:flex;
    justify-content:space-between;
}
.part-2{
    justify-content: center;
    align-items: center;;
    display:flex;
}
.container-1
{
    display:flex;
    flex-direction:column;
    
    
 
}
.part-2 .signup{
    flex-basis:30px;
    width:100px;
}

.section-1{
    padding: 0 200px 50px 200px;
}